body.dark-mode {
    background-color: var(--dark-background-color);
    color: var(--dark-font-color);
}

header.dark-mode {
    background-color: var(--dark-header-color);
    color: var(--dark-font-color);
}

main.dark-mode > button {
    color: var(--dark-font-color);
}